@media only screen and (max-width: 1280px) {
  .header_big .content_text .center_flex-list {
    padding: 230px 50px;
    gap: 30px;
  }
}
@media only screen and (max-width: 960px) {
  .update .update_list .context_left-list .bg_p a {
    font-size: 12px;
  }
  .update .update_list .context_left .btn_list a button {
    padding: 10px 24px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 320px) {
  .header_big header .header_left h1 {
    font-size: 30px !important;
  }
  .form_list form .form_container .texts h2 {
    font-size: 18px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .update .update_list .context_left-list .bg_p {
    padding: 10px;
  }
  .form_list form .form_container {
    padding: 0px 15px 60px 15px;
  }
  .form_list form .form_container .btn {
    justify-content: left;
  }
}
@media only screen and (max-width: 1000px) {
  .header_big .content_text .center_flex-list {
    display: block;
    row-gap: 10px;
  }
  .header_big .content_text .center_flex-list .text_right img {
    width: 100%;
    margin-top: 30px;
    height: 100%;
  }
  .form_list form {
    padding: 80px 80px;
  }
  .helper .container_last .image_right ul {
    margin-top: 24px;
  }
}
@media only screen and (max-width: 1070px) {
  .helper .container_last .image_right ul {
    margin-top: 24px;
  }
}
@media only screen and (max-width: 945px) {
  .header_big header ul li a {
    color: #FFFFFF;
  }
  .header_big header .header_left nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100%;
    background: #ED624F;
    left: -48px;
    z-index: 1000;
    transition: 1s ease-in-out;
    display: none;
    top: 0px;
    border-right: 3px solid #FFFFFF;
  }
  .header_big header .header_left nav ul {
    position: absolute;
    top: 50%;
    display: block;
    left: 10%;
  }
  .header_big header .header_left nav ul li {
    margin-top: 20px;
  }
  .header_big header .catogory .menu {
    display: block;
  }
  .show {
    display: block !important;
  }
}
@media only screen and (max-width: 875px) {
  .why .flex_center {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
  }
  .update .update_list {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .update .update_list .box-right .btn {
    padding-bottom: 0px;
  }
  .update .update_list .context_left {
    max-width: 100%;
    flex: 0 0 100%;
    width: unset;
  }
  .update .update_list .context_left-list {
    display: inline-block;
    width: 100%;
  }
  .update .update_list .context_left-list .bg_p {
    display: inline-block;
    margin-left: 20px;
    padding: 10px 30px;
    border-bottom: 2px solid #353F60;
    border-top: 2px solid #353F60;
    border-radius: 15px;
    border-left: unset;
  }
  .update .update_list .context_left .btn_list {
    padding-bottom: 100px;
  }
  .update .update_list .context_left .btn_list a {
    justify-content: center;
  }
}
@media only screen and (max-width: 800px) {
  .form_list form {
    padding: 80px 10px;
  }
  .form_list .form_container {
    padding: 0px 15px 60px 15px;
  }
}
@media only screen and (max-width: 646px) {
  .form_list form .form_container {
    padding: 0px 30px 60px 15px;
  }
  .form_list form .flex_content-list .form-control {
    width: 100%;
  }
}
@media only screen and (max-width: 625px) {
  footer .footer_list {
    flex-wrap: wrap;
  }
  footer .footer_list-last {
    width: 33%;
  }
}
@media only screen and (max-width: 600px) {
  .helper .container_last .image_left {
    padding: 30px 10px 16px 10px;
    border-radius: 30px;
  }
  .helper .container_last .image_right {
    padding: 35px 10px 16px 10px;
    border-radius: 30px;
  }
  .header_big header .catogory ul li a {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .helper .container_last {
    flex-wrap: wrap;
    text-align: center;
    row-gap: 20px;
  }
  .helper .container_last .image_left {
    width: 100%;
    margin-right: unset;
  }
  .helper .container_last .image_right {
    width: 100%;
  }
  .helper .container_last ul li {
    justify-content: center;
  }
  .form_list form .flex_content-list {
    display: block;
  }
}
@media only screen and (max-width: 475px) {
  .header_big .content_text .center_flex-list {
    padding: 110px 30px;
  }
  .header_big .content_text .center_flex-list .text_left .test h2 {
    font-size: 40px;
  }
  .header_big .content_text .center_flex-list .text_left .test p {
    font-size: 14px;
  }
  .header_big header {
    justify-content: space-around;
  }
  .header_big header .header_left h1 {
    font-size: 30px;
  }
  footer .footer_list-last {
    width: 50%;
  }
  .why .flex_center {
    grid-template-columns: 100%;
  }
  .form_list form .form_container .texts h2 {
    font-size: 22px;
  }
  .update .text_center h2 {
    font-size: 20px;
  }
  .update .text_center p {
    font-size: 14px;
  }
  .helper .text_center h2 {
    font-size: 18px;
  }
  .helper .text_center p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 375px) {
  .helper .text_center h2 {
    font-size: 16px;
  }
  .helper .text_center p {
    font-size: 14px;
  }
  .why .text_center h2 {
    font-size: 20px;
  }
  .why .text_center p {
    font-size: 14px;
  }
  .update .text_center h2 {
    font-size: 18px;
  }
  footer .footer_list-last {
    width: 100%;
    text-align: center;
  }
  footer .footer_list-last .social {
    justify-content: center;
  }
  .update .update_list .context_left-list .bg_p {
    margin-left: 5px;
    padding: 10px 10px;
  }
}

/*# sourceMappingURL=responsive.css.map */
